<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CottonJS - Minimalist React SSR Framework with Node.js</title>
    <meta
      name="description"
      content="CottonJS - A lightweight, fast, and customizable React.js SSR framework built on Node.js http. Enjoy minimal dependencies, full control, and seamless page reloads."
    />
    <meta
      name="keywords"
      content="React SSR, Node.js framework, Server-side rendering, Minimalist React, CottonJS, React SSR framework, fast SSR, Minimalistic SSR"
    />

    <!--meta-->

    <link rel="icon" href="/public/logo.svg" type="image/svg+xml" />
    <link href="/public/styles/main.css" rel="stylesheet" />
    <!--css-->
  </head>
  <body>
    <div id="root"><!--page--></div>
    <!--scripts-->
  </body>
</html>
